<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.maanikke.probe">
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:label="MaaNikke VD Probe"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
